<!DOCTYPE html>
<html>
  {% block head %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="pyAggr3g470r is a news aggregator with a Web interface based on Flask. It can be
deployed on Heroku or on a traditional server." />
    <meta name="author" content="" />

    <title>{% if head_title %}{{ head_title }} - {% endif %}pyAggr3g470r</title>



    <link rel="shortcut icon" href="{{ url_for('.static', filename='img/favicon.png') }}" />

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('.static', filename = 'css/bootstrap.css') }}" rel="stylesheet" media="screen" />

    <!-- Add custom CSS here -->
    <style>
        body {
            margin-top: 60px;
        }
        div.top {
            position: relative;
            top:-60px;
            display: block;
            height: 0;
        }
        ul.affix {
            position: fixed;
            top: 0px;
        }
        ul.affix-top {
            position: static;
        }
        ul.affix-bottom {
            position: absolute;
        }
        /* First level of nav */
        .sidenav {
            margin-top: 10px;
            margin-bottom: 0px;
            padding-top:    10px;
            padding-bottom: 0px;
            overflow-y: auto;
            height: 90%;
            z-index: 1000;
            background-color: #ffffff;
            border-radius: 2px;
            font-size: 100%;
        }
        /* All levels of nav */
        .sidebar .nav > li > a {
            display: block;
            color: #716b7a;
            padding: 5px 20px;
        }
        .sidebar .nav > li > a:hover,
        .sidebar .nav > li > a:focus {
            text-decoration: none;
            background-color: #e5e3e9;
        }
        .sidebar .nav > .active > a,
        .sidebar .nav > .active:hover > a,
        .sidebar .nav > .active:focus > a {
            font-weight: bold;
            color: #563d7c;
            background-color: transparent;
        }
        /* Nav: second level */
        .sidebar .nav .nav {
            margin-bottom: 8px;
        }
        .sidebar .nav .nav > li > a {
            padding-top:    3px;
            padding-bottom: 3px;
            font-size: 80%;
        }
    </style>

  </head>
  {% endblock %}

  <body data-spy="scroll" data-target="#affix-nav">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">pyAggr3g470r</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav navbar-right">
            {% if g.user.is_authenticated() %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ _('Articles') }} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a accesskey="r" href="/fetch">{{ _('Fetch') }}</a></li>
                        <li><a href="/mark_as/read">{{ _('Mark all as read') }}</a></li>
                        <li role="presentation" class="divider"></li>
                        <li><a href="/create_feed">{{ _('Add a feed') }}</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ _('Filter') }} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a accesskey="u" href="/unread">{{ _('Unread') }}</a></li>
                        <li><a accesskey="f" href="/favorites">{{ _('Favorites') }}</a></li>
                        <li><a accesskey="i" href="/inactives">{{ _('Inactive feeds') }}</a></li>
                        <li><a href="/feeds">{{ _('All feeds') }}</a></li>
                        <li><a href="/history">{{ _('History') }}</a></li>
                    </ul>
                </li>
                <li><a accesskey="m" href="/management">{{ _('Management') }}</a></li>
                {% if g.user.is_admin() %}
                    <li><a href="{{ url_for('dashboard') }}"><span class="glyphicon glyphicon-dashboard"></span> {{ _('Dashboard') }}</a></li>
                {% endif %}
                <li><a href="/about">{{ _('About') }}</a></li>
                <li><a href="{{ url_for('logout') }}">{{ _('Logout') }}</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <button class="btn btn-default btn-xs" type="submit"><span class="glyphicon glyphicon-search"></span></button> <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <form class="navbar-form" method=get action="/search" role="search">
                                <div class="input-group">
                                    <input type="text" class="form-control" name="query" placeholder="Search">
                                </div>
                            </form>
                        </li>
                    </ul>
                </li>
            {% else %}
                <li><a href="/about">{{ _('About') }}</a></li>
            {% endif %}
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container -->
    </nav>

    <div class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{category}}">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    {% endwith %}
    </div>

    {% block content %}{% endblock %}

    <!-- Bootstrap core JavaScript -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ url_for('.static', filename = 'js/jquery.js') }}"></script>
    <script src="{{ url_for('.static', filename = 'js/bootstrap.js') }}"></script>
    <script src="{{ url_for('.static', filename = 'js/articles.js') }}"></script>
    <script type="text/javascript" class="source">
        if (window.location.href.indexOf("filter_=all") > -1){
            $("#tab-all").attr('class', "active");
        }
        else if (window.location.href.indexOf("filter_=unread") > -1) {
            $("#tab-unread").attr('class', "active");
        }
        else if (window.location.href.indexOf("filter_=read") > -1) {
            $("#tab-read").attr('class', "active");
        }
        else {
            $("#tab-unread").attr('class', "active");
        }
    </script>
  </body>
</html>
